{# 1. To call functions defined in python modules use `module` #}

{{ module.rand.weighted_choice(['a', 'b', 'c'], [1, 7, 3]) }}
{# >> 'b' #}

{# 2. The module object in template is an actual python module #}

{{ module.rand.__name__ }}
{# >> 'eventum_plugins.event.jinja_modules.rand' #}
