{# 1. You can access samples specified in configuration using `samples` #}

{{ samples.names | length }}
{# >> 1000 #}


{# 2. Sample is a simple sequence, so you work with it as usual #}

{{ samples.names | random }}
{# >> '(Norma Long, )' #}

{{ samples.names[812] }}
{# >> '(Nancy Patterson, )' #}


{# 3. Each item in sample of type `csv` is a tuple of row elements #}

{{ samples.names[812][0] }}
{# >> 'Nancy Patterson' #}


{# 4. Each item in sample of type `items` is a string #}

{{ samples.host_ips[-1]  }}
{# >> '172.16.0.8' #}
