{# 1. To get value from teamplate local state use `locals.get`. #}
{% set value = locals.get('my_key') %}

{{ value }}
{# >> None #}


{# 2. In previous example we get value from state by key `my_key`. #}
{# If state does not contan specified key `None`  is returned. #}

{# You can optionally specify default value instead of `None`. #}
{% set value = locals.get('my_key', default='my default value') %}

{# The same but using positional argument #}
{% set value = locals.get('my_key', 'my default value') %}

{{ value }}
{# >> 'my default value' #}


{# 3. To set value to state use `locals.set`. #}
{% do locals.set('my_key', 'my stored value') %}

{{ locals.get('my_key') }}
{# >> 'my stored value' #}

{# 4. There are two types of state: `locals` and `shared` #}
{# The only difference between them is that locals state is individual state for each template, #}
{# The only difference between them is that:  #}
{# - `locals` state is individual state for each template #}
{# - `shared` state is one common state for all templates shared between them #}
