{# 1. To run process from template use `subprocess.run` #}

{# The first argument is a shell command, #}
{# The second argument defines whether to block template execution and wait the result of subprocess #}

{{ subprocess.run('whoami', block=True) }}
{# >> 'nikita' #}

{# 2. Another examples #}

{{ subprocess.run('echo "print(sum([1, 2, 3, 4, 5]))" | python3', block=True) }}
{# >> '15' #}

{{ 'Eventum errors count: ' + subprocess.run('grep "ERROR" ~/.eventum/logs/* | wc -l', block=True) }}
{# >> 'Eventum errors count: 11' #}

{{ subprocess.run('curl "http://www.randomnumberapi.com/api/v1.0/random?min=0&max=100&count=3"', block=True) }}
{# >> '[51,98,43]' #}

{{ subprocess.run('which eventum', block=True) }}
{# >> '/home/nikita/.local/bin/eventum' #}

{# So, possibly you can even run sub-generators calling `eventum` from template :) #}
