{% set host_name = params.dc_hostname -%}
{% set domain_name = params.domain_name -%}

{% set target_user_name = (samples.names | random)[0].replace(" ", "") -%}

{% set agent_name = host_name + "." + domain_name -%}
{% set subject_user_name = host_name.upper() + "$" -%}
{% set record_id = shared.get("record_id", 1) -%}
{% set process_id = range(1, 1024) | random -%}
{% set logon_id = "0x" + module.rand.string.hex(3) -%}
{% set target_user_sid = "S-1-5-21-" + module.rand.string.digits(10) + "-" + module.rand.string.digits(10) + "-" + module.rand.string.digits(8) + "-" ~ range(1000, 10000) | random -%}
{% set subject_user_sid = "S-1-5-21-340490572" -%}

{
    "@timestamp": "{{ timestamp }}{{ tz }}",
    "@version": 1,
    "agent": {
        "ephemeral_id": "53889096-967d-4626-8c5c-9ec81f6bbc50",
        "id": "3cdc1e10-ded0-4f5d-8434-ede1d1120b17",
        "name": "{{ agent_name }}",
        "type": "winlogbeat",
        "version": "8.0.0"
    },
    "ecs": {
        "version": "8.0.0"
    },
    "event": {
        "action": "logon-failed",
        "category": [
            "authentication"
        ],
        "code": "4625",
        "kind": "event",
        "outcome": "failure",
        "provider": "Microsoft-Windows-Security-Auditing",
        "type": [
            "start"
        ]
    },
    "host": {
        "name": "{{ host_name }}",
        "os": {
            "family": "windows",
            "type": "windows"
        }
    },
    "process": {
        "executable": "C:\\Windows\\System32\\services.exe",
        "name": "services.exe",
        "pid": {{ process_id }}
    },
    "related": {
        "user": [
            "{{ target_user_name }}",
            "{{ subject_user_name }}"
        ]
    },
    "user": {
        "domain": "{{ domain_name }}",
        "id": "{{ target_user_sid }}",
        "name": "{{ target_user_name }}"
    },
    "winlog": {
        "channel": "Security",
        "computer_name": "{{ host_name }}",
        "event_data": {
            "AuthenticationPackageName": "Negotiate",
            "FailureReason": "%%2313",
            "KeyLength": "0",
            "LmPackageName": "-",
            "LogonProcessName": "User32",
            "LogonType": "2",
            "Status": "0xc000006d",
            "SubStatus": "0xc0000064",
            "SubjectDomainName": "{{ domain_name }}",
            "SubjectLogonId": "{{ logon_id }}",
            "SubjectUserName": "{{ subject_user_name }}",
            "SubjectUserSid": "{{ subject_user_sid }}",
            "TargetDomainName": "{{ domain_name }}",
            "TargetLogonId": "{{ logon_id }}",
            "TargetUserName": "{{ target_user_name }}",
            "TargetUserSid": "{{ target_user_sid }}",
            "TransmittedServices": "-"
        },
        "event_id": "4625",
        "keywords": [
            "Audit Failure"
        ],
        "level": "information",
        "logon": {
            "failure": {
                "reason": "Unknown user name or bad password.",
                "status": "This is either due to a bad username or authentication information",
                "sub_status": "User logon with misspelled or bad user account"
            },
            "id": "{{ logon_id }}",
            "type": "Interactive"
        },
        "opcode": "Info",
        "outcome": "failure",
        "process": {
            "pid": {{ process_id }},
            "thread": {
                "id": {{ range(1, 1024) | random }}
            }
        },
        "provider_guid": "{54849625-5478-4994-a5ba-3e3b0328c30d}",
        "provider_name": "Microsoft-Windows-Security-Auditing",
        "record_id": "{{ record_id }}",
        "time_created": "{{ timestamp }}{{ tz }}"
    }
}
{%- do shared.set("record_id", record_id + 1) %}